@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background-image: url("lilo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 300;
    font-style: italic;
    color: floralwhite;
    
}

li {
    list-style: none;
}

.nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
}

.nav__link a {
    display: inline-block;
    padding: 15px 20px;
}

.nav__link a:hover {
    color: #313639;
}

#smallernav {
    font-size: 2rem;
    float: right;
}

a {
    text-decoration: none;
    color: floralwhite;
    font-size: 2rem;
}

button {
    font-family: "Quicksand", sans-serif;
    font-size: 200px;
    color: floralwhite;
}

.smallsbtn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    animation: fadeIn 3s;
}

.smallsbtn:hover {
    color: #313639;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}